<!-- Hero -->
<section class="hero lazy-bg">
  <div class="container">
    <h1 class="hero-title">
      Hello!<br />I’m Fullstack developer Veronika Dyka
    </h1>
    <ul class="contacts-links-container">
      <li class="contact-link-item">
        <a
          href="https://instagram.com"
          class="contact-link hover-animation"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          IG
        </a>
      </li>
      <li class="contact-link-item">
        <a
          href="https://t.me/verona51"
          class="contact-link hover-animation"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          TG
        </a>
      </li>
      <li class="contact-link-item">
        <a
          href="https://www.linkedin.com/"
          class="contact-link hover-animation"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          IN
        </a>
      </li>
      <li class="contact-link-item">
        <a
          href="https://github.com/Verona0609"
          class="contact-link hover-animation"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          GH
        </a>
      </li>
      <li class="contact-link-item contact-email-link">
        <a
          href="mailto:veronika.dyka01@gmail.com"
          class="contact-link hover-animation"
        >
          veronika.dyka01@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
